body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    /* display: flex;  */
    justify-content: center;
    /* background-image: linear-gradient(170deg, #E55D87, #5FC3E4 120%); */
    background-image: linear-gradient(170deg, #cb8cff, #4241e8 120%);
    /* background-color: #d76790; */
    background-color: #cb8cff;
    color: #fff;
    height: 100vh;
}

#lobby-content {
    display: none;
}

#game-page {
    display: none;
}

#voting-page {
    display: none;
}

#play-page {
    display: none;
}

#reveal-item-page {
    display: none;
}

#questions-page {
    display: none;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    /* height: 150px; */
    border-top: 1px  solid #ccc;
    /* border-top-width: 50%; */
    /* margin-top: 10rem; */
}

#title-heading {
    font-size: 2.8rem;
    margin-top: 70px;
    text-shadow: #8365db 0 5px 2px;
}



/* .vote-button-class {
    appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
} */

.button-class {
  /* background: #4946fa; */
  background-image: linear-gradient(170deg, #4241e8, #5453f5 120%);
  border-radius: 999px;
  box-shadow: #5E5DF0 0 10px 20px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  margin: 3px 5px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  /* width: 7.6rem; */
  word-break: break-word;
  border: 0;
}

/*vote button class hover*/
.button-class:hover {
  /* background: #4e4ed2; */
  background-image: linear-gradient(170deg, #4e4de3, #3837cc 120%);
  box-shadow: #4e4ed2 0 10px 20px -10px;
}


.input-fields {
    width: 12rem;
    height: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: #8365db 0 10px 20px -5px;
}

#player-buttons {
    /*  */
    justify-content: center;
    padding-left: 0px;;
}

.player-list-class {
    padding-left: 0px;
}


/* .growing-search {
    padding: 5px 5px 5px 7px;
    border-radius: 5px;
    background: #fff;
  }
  
  .growing-search div {
    display: inline-block;
    font-size: 12px;
  }
  
  .growing-search .input input {
    margin-right: 0;
    border: none;
    font-size: inherit;
    transition: width 200ms;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    width: 55px;
    color: #aaa;
    border-bottom: 1px solid #eee;
  }
  
  .growing-search .input input:focus {
    width: 150px;
  }
  
  .growing-search .submit button {
    margin-left: 0;
    border: none;
    font-size: 1.15em;
    color: #aaa;
    background-color: #fff;
    padding-top: 2px;
    padding-bottom: 2px;
    transition: color 200ms;
  }
  
  .growing-search .input input:hover, .growing-search .submit button:hover {
    cursor: pointer;
  }
  
  .growing-search .input input:focus, .growing-search .submit button:focus {
    outline: none;
  }
  
  .growing-search .submit button:hover {
    color: #3498db;
  }

  center > h4 { color: #00a0d1; margin-top: 50px; }
    body { margin: 0; font-family: Arial; background-color: #3498db; }
    ul#growing-search-freebie { display: table; list-style: none; margin: 5px auto 0 auto; padding: 0; }
    ul#growing-search-freebie > li { float: left; margin-right: 5px; margin-bottom: 0px; padding: 10px 10px; }
    ul#growing-search-freebie > li:last-child { margin-right: 0; }
    ul#growing-search-freebie > li > span { margin-bottom: 10px; } */